<turbo-frame id="modal" class="modal">
    <div class="form" data-controller="modal">
        <h1> Edit Comment </h1>
        <%= form_with(model: @comment, local: true, data: {action: "turbo:submit-end->modal#closeModal" }) do |f| %>
            <%= f.label :body %>
            <%= f.text_area :body %>
            <%= f.submit %>
        <% end %>
        <button class="textBtn danger" data-action="click->modal#closeModal" >cancel</button>
    </div>
</turbo-frame>