body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: rgba(128, 128, 128, .3);

    &::-webkit-scrollbar{
        display: none   ;
    }
}

@mixin shadow-border{
    box-shadow: 0px 0px 1px 1px rgba(66, 103, 178, .5);
}

button:hover{
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p{
    color: #4267B2;
    background: none;
    margin: 0;
}

a{
    text-decoration: none;
    font-weight: 600;
    color: #4267B2;
    margin: 0 1ch;

    &:hover{
        color: gray;
    }
}

header{
    @include shadow-border();
    padding: 1ch;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navMenu{
        height: 100%;
        display: flex;
        align-items: center;
    }

}

.posts_container{
    width: 50%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.post{
    @include shadow-border();
    width: 100%;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;

    .post_header{
        display: flex;
        gap: 1rem;
    }

    .options{
        .active{
            color: #4267B2;
        }

        a{
            color: gray;

            &:hover{
                color: #4267B2;
            }
        }
    }

    &-comments{
        padding: 1ch;
        background-color: rgba(128, 128, 128, 0.15);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;

        .comment{
            @include shadow-border();
            width: 100%;
            text-align: center;
            border-radius: 25px;
            border-top-left-radius: 0;
            padding: 1ch;
            box-sizing: border-box;
            background-color: white;

            .comment_header{
                display: flex;
                gap: 5px;
                justify-content: center;
                align-items: center;
            }
        }
    }

}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    position: relative;

    &::-webkit-scrollbar{
        display: none;
    }
}

.form{
    @include shadow-border();
    border-radius: 5px;
    padding: 1rem 5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    input{
        border: 1px solid black;
        padding: 1ch;
        font-size: 18;
    }

    .field{
        text-align: center;
    }

    #error_explanation{
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        p{
            color: red;
        }
    }

}

.field_with_errors{
    input, textarea{
        border-color: red;

        &:focus{
            outline: none;
        }
    }
}

.modal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;

    .form{
        width: 25%;
    }
}

.textBtn{
    font-weight: 600;
    background: none;
    outline: none;
    border: none;
}

.danger, .alert{
    color: red;
}

.notice{
    color: yellow;
}

.post_image{
    width: 100%;
    border-radius: 10px;
}

.avatar{
    border-radius: 50%;
}